/* Минимальные доп. правила, mobile-first */
:root{
--max-width: 64rem; /* 1024px */
}


/* Обеспечить, что main всегда занимает место (если нужно) */
#view { min-height: calc(100vh - 5.5rem); }


/* Небольшие утилиты */
@media (min-width: 640px) {
/* sm+ правила */
}